/* regole debug */

/* .blue{
min-height:50px;
background-color: rgb(0, 38, 255);
border:solid 1px white;
}
 */

.bianco{
    min-height:150px;
    background-color: rgb(255, 255, 255);
    border:solid 1px rgb(0, 0, 0);
}

.immagini{
    min-height:150px;
    background-color: rgb(20, 243, 0);
    border:solid 1px rgb(0, 0, 0);
    margin: 20px 0;
}

.testoverde{
    min-height:150px;
    background-color: rgb(145, 240, 136);
    border:solid 1px rgb(0, 0, 0);
  
}

.about{
    min-height:50px;
    background-color: rgb(0, 38, 255);
    border:solid 1px white;
}

.black{
    min-height:100px;
    background-color: rgb(0, 0, 0);
    border:solid 1px white;
}

.info{
    min-height:100px;
    background-color: rgb(255, 255, 255);
    border:solid 1px rgb(0, 0, 0);
}

.social{
    min-height:100px;
    background-color: rgb(91, 94, 112);
    border:solid 1px rgb(0, 0, 0);
}

/* jumbotron e profilo */

.profilo{
    width: 250px;
    margin-top: 30px;
}

p{
    text-align: center;
    color: white;
    font-size: 50px;
}
.verde{
    background-color: rgb(0, 255, 170);
}

.trattino{
    width: 70px;
    height: 3px;
    background-color: white;
    margin: 0px 7px;
    
   
}

.star{
   display: flex;
   align-items: center;
   justify-content: center;
}

.fa-star{
    color: white;
}

.sottotitolo{
    font-size: 25px;
   
}

